.App {
  text-align: center;
  background-color: black;
}

.search {
  padding: 40px 0;
}

.search input {
  border: none;
  width: 50%;
  height: 3rem;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  margin-right: 10px;
}

.search input:focus {
  border: 1px black solid;
  background-color: rgb(134, 162, 187);
}

.search button {
  border: none;
  width: 5rem;
  height: 3rem;
  border-radius: 10px;
  font-size: large;
  background-color: rgb(15, 202, 71);
}

.search button:hover {
  background-color: rgb(12, 87, 34);
  color: aliceblue;
  width: 6rem;
  height: 4rem;

}

.App > * {
  background-color: rgb(29, 175, 175);
  width: 70%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.App h1 {
  font-size: 3rem;
  padding: 10px 0;
  
}

.container {
  
 display: flex;
 align-items: center;
 justify-content: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  width: 40%;
  background-color: rgb(37, 141, 141);

  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 8px 24px 0px rgba(6, 8, 33, 1);
-moz-box-shadow: 3px 8px 24px 0px rgba(6, 8, 33, 1);
box-shadow: 3px 8px 24px 0px rgba(6, 8, 33, 1);
}

.card:hover {
  
  transform: scale(1.04);
  background-color: rgb(26, 102, 102);
}  

.card .title {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 0 10px;
}

.card .year {
  font-size: 30px;
  font-style: italic;
  padding: 10px 0;
}
